h1 {
    color: rgb(255, 0, 191);
    font-size: xx-large;
    font-style: italic;
}
h4 {
    color: rgb(255, 0, 191);
    font-size: large;
}

body {
	background-color: skyblue;
}

ul {
    background-color: burlywood;
    color: rgb(255, 0, 191)
}